/* Container */
.splash-container {
  height: 100vh;
  background: linear-gradient(135deg, #149680, #01060f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* ===== CENTER LOGO ===== */
.center-logo {
  width: 500px;
  margin-bottom: 30px;
}

.animate-center {
  animation: fadeScale 2.1s ease forwards;
}

@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.companyLogo{
  position: absolute;
  bottom: 20px;   /* spacing from bottom */
  right: 20px;    /* spacing from right */
  width: 120px;   /* adjust as needed */
  opacity: 0.9;
}

/* ===== ICON-ONLY LOADER ===== */
.loading-orbit {
  width: 56px;
  height: 56px;
  position: relative;
  margin-top: 10px;
}

.loading-orbit span {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #dee4df;
  border-radius: 50%;
  animation: orbit 1.4s infinite ease-in-out;
}

.loading-orbit span:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.loading-orbit span:nth-child(2) {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  animation-delay: -0.2s;
}

.loading-orbit span:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: -0.4s;
}

@keyframes orbit {
  0% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    opacity: 0.5;
  }
}
